<div class="footer-content">
    <div class="container text-white d-flex  align-items-center justify-content-evenly">
        <div class="row">
            <div class="col-md-4">
                <div class="location ">
                    <h3 class="">LOCATION</h3>
                <p>2215 John Daniel Drive</p>
                <p>Clark, MO 65243</p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="around ">
                <h3>AROUND THE WEB</h3>
                <div class="social-link ">
                    <ul>
                        <li>
                            <i class="fa-brands fa-facebook"></i>
                        </li>
                        <li>
                            <i class="fa-brands fa-twitter"></i>
                        </li>
                        <li>
                            <i class="fa-brands fa-linkedin"></i>
                        </li>
                        <li>
                            <i class="fa-solid fa-globe"></i>
                        </li>
                    </ul>
                </div>

                </div>
            </div>
            <div class="col-md-4">
                <div class="freelancer text-center">
                    <h3>ABOUT FREELANCER</h3>
                    <p>Freelance is a free to use, licensed Bootstrap theme created by Route</p>
                </div>
            </div>

        </div>
    </div>
    <div class="bottom text-center text-white p-3">
        <p>Copyright © Your Website 2021</p>
    </div>
</div>
