nav.navbar{
    background-color: #2C3E50 ;
    padding: 20px;
    
}
.navbar-brand{
    font-size: 35px;
    padding-left: 90px;
    color: #fff;
}

.collapse ul{
    padding-right: 90px;

}
 ul.navbar-nav li a{
    color: #fff;
    font-size: 18px;
    font-weight: bolder;


 }

 /* nav ul li a.active{
    background-color: #09c;

} */
nav ul li{
    padding: 2px 15px;
}
.test{
    background-color: #1abc9c;
    color: #fff;
}
