h1{
    color: #2c3e50 !important;
}

.layer{
    background-color: #1abc9ce6;
    opacity: 0;
    cursor: pointer;
    transition: .6s opacity;
}
.layer:hover{
    opacity: 1;

}
.box{
    height: 160vh;
    width: 100%;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.3);
}