.star{
    position: relative;
    margin: auto;
    text-align: center;
    /* width: fit-content; */
}


.star::before{
    content:" ";
    display: block;
    height: 2px;
    width: 130px;
    position: absolute;
    top: 50%;
    left: 50px;
    background: #fff;
}

.star::after{
    content:" ";
    display: block;
    height: 2px;
    width: 130px;
    position: absolute;
    top: 50%;
    right: 50px;
    background: #fff;
}